.loginBar {
  margin: 0;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  background-color: #e6e6e6;
  justify-content: center;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
}