.modes {
    width: 300px;
    height: 250px;

    &__title {
        font-size: 18px;
    }

    &__image {
        width: auto;
        height: 60px;
    }

    &__desciption {
        font-size: 14px;
    }
}