.setting {

    &__body {
        display: none;
        z-index: 100;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &.show {
            display: block;
        }
    }
}

.icon-setting {
    font-size: 30px;
    fill: #1a1a1a;
    transition: fill 0.3s ease, transform 0.3s ease;
    cursor: pointer;

    &:hover {
        fill: #fd7e14;
        transform: rotate(180deg);
    }
}