.radioButton {
  display: flex;
  overflow: hidden;

  &__input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;

    &:checked + .radioButton__label {
      background-color: #fd7e14;
      color: #ffffff;
      cursor: auto;
      transition: 0.3s;
    }
  }

  &__label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid #e4e4e4;
    transition: all 0.1s ease-in-out;

    &:hover {
      cursor: pointer;
    }

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }
  }
}