.card {
  margin: 0 auto;
  padding: 2.5rem;
  min-width: 16.875rem;
  max-width: 40rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 640px) {
    width: 40rem;
  }

  @media screen and (min-width: 860px) {
    width: 53.75rem;
  }

  &__hidden {
    display: none;
  }

  &__head {
    margin-bottom: 2.5rem;

    @media screen and (min-width: 640px) {
      margin-bottom: 2.5rem;
    }
  }

  &__body {

    &--container {
      margin: 1.25rem 0;
      width: auto;
      height: 25rem;
      transition: transform 1s;
      transform-style: preserve-3d;
      cursor: pointer;
      position: relative;

      @media screen and (min-width: 640px) {
        margin: 1.25rem 2.5rem;
      }

      &.is-turned {
        transform: rotateX(180deg);
      }
    }

    &--front, &--back {
      padding: 1.25rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      border: 1px solid #d2d6dc;
      border-radius: 4px;
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
      position: absolute;
      backface-visibility: hidden;
    }

    &--front {
      background-color: #ffffff;
    }

    &--back {
      background-color: #e6e6e6;
      transform: rotateX(180deg);
    }
  }

  &__foot {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6.25rem;
  }
}

.icons--right, .icons--left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.icons--left {
  gap: 8px;
}

.icons--left {
  gap: 16px;
}

.hint-firts-word {
  margin-left: 4px;
  font-size: 20px;
  color: #008000;
  display: none;

  &.show {
    display: block;
  }
}

.container--icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.container--words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-grow: 1;
  cursor: pointer;
}

.front-word {
  margin: 0;
  display: inline-block;
  font-family: 'Mukta', sans-serif;
  font-size: 42px;
  font-weight: bold;
  text-align: center;

  @media screen and (min-width: 640px) {
    font-size: 50px;
  }
}

.hint-icon {
  margin-right: auto;
  font-size: 30px;
  color: #1a1a1a;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: #fd7e14;
  }
}