.input {
    padding: 5px;
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: 2px solid #fd7e14;
    border-radius: 2px;

    &:focus-visible {
        outline: none;
        border: 2px solid #fd7e14;
    }
}