.icon-prev, .icon-next {
    font-size: 40px;
    color: #fd7e14;
    transition: color 0.3s ease;
    cursor: pointer;

    &:hover {
        color: #ff9944;
    }

    &.disabled {
        color: #a1a1a1;
        cursor: auto;
    }
}