.footer {
    padding: 20px 40px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;

    &__link {
        color: #1A1A1A;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}