.answers {
  padding: 12px;
  width: 100%;
  background-color: #ffffff;
  border: 2px solid #d2d6dc;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 640px) {
    padding: 10px;
    font-size: 24px;
  }

  &:hover {
    background-color: #f2f2f2;
    cursor: pointer;
  }
}